.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem -4rem;
    position: relative;
    margin-top: -7rem;
}


f-content{
    position: absolute;
    display: flex;align-items: center;
    justify-content: center;
    flex-direction: column;
}